In [9]:
import pandas as pd
df = pd.read_excel(r'C:\Users\VAIO\Desktop\Rafidi Jewlery\Book 1.xlsx')
df2 = pd.read_excel(r'C:\Users\VAIO\Desktop\Rafidi Jewlery\buy 1.xlsx')

In [10]:
pr = 120 
x = 565456
n = df.loc[df["ID"] == x]
n

       ID   Name  Weight  Karat  M_price  N_cost
9  565456  سنسال     2.3    885      2.5   93.13

In [11]:
n["S_price"] = pr
n["Profit"] = n["S_price"] - n["N_cost"] 
n

<ipython-input-11-955a729042c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n["S_price"] = pr
<ipython-input-11-955a729042c4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n["Profit"] = n["S_price"] - n["N_cost"]

       ID   Name  Weight  Karat  M_price  N_cost  S_price  Profit
9  565456  سنسال     2.3    885      2.5   93.13      120   26.87

In [12]:
df2 = df2.append(n, ignore_index= True)
df2 = df2.drop_duplicates(subset = ["ID"],keep='last').sort_values("ID")

In [13]:
df2

       ID   Name  Weight  Karat  M_price  N_cost  S_price  Profit
0  334982  سنسال     1.9    750      3.0   66.42       75    8.58
1  454567  خاتم     12.0    885      2.5  482.52      500   17.48
2  565456  سنسال     2.3    885      2.5   93.13      120   26.87

In [14]:
df2 = df2.set_index("ID")
try:
    df2.to_excel(r"C:\Users\VAIO\Desktop\Rafidi Jewlery\buy 1.xlsx")
except:
    print("Close the File, and try again")