In [1]:
import requests
import re
from bs4 import BeautifulSoup
import openpyxl
import pandas as pd

In [2]:
usd_jod = 0.71
karat_21= 0.885
karat_18= 0.790
karat_21_buy = 0.870
karat_18_buy = 0.740

In [3]:
url = 'https://www.kitco.com/gold-price-today-usa/index.html'
session = requests.Session()
session.headers.update({'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 ' + ' (KHTML, like Gecko) Chrome/62.0.3202.62 Safari/537.36'
})
r = session.get(url)
html_soup = BeautifulSoup(r.text,'html.parser')
form = html_soup.find(class_='table-price--body-table--overview-bid')
G_price = float(form.find_all('p')[1].text.replace(',', ''))
print ('Gold price = ', G_price)
sell_price_21 = round(G_price*32.15*0.001*usd_jod*karat_21,2)
sell_price_18 = round(G_price*32.15*0.001*usd_jod*karat_18,2)
buy_price_21 = round(G_price*32.15*0.001*usd_jod*karat_21_buy,2)
buy_price_18 = round(G_price*32.15*0.001*usd_jod*karat_18_buy,2)
print('Sell_price_21K =', sell_price_21)
print('Sell_price_18K =', sell_price_18)
print('Buy_price_21K =', buy_price_21)
print('Buy_price_18K =', buy_price_18)

Gold price =  1901.9
Sell_price_21K = 38.42
Sell_price_18K = 34.3
Buy_price_21K = 37.77
Buy_price_18K = 32.13

In [23]:
df = pd.read_excel(r'C:\Users\VAIO\Desktop\Rafidi Jewlery\Book 1.xlsx')
df = df.set_index('ID')

In [24]:
df.loc[df['Karat'] == 885, 'N_cost'] = round((sell_price_21 + df['M_price'])*df['Weight'],2)
df.loc[df['Karat'] == 750, 'N_cost'] = round((sell_price_18 + df['M_price'])*df['Weight'],2)

In [25]:
df

           Name  Weight  Karat  M_price  N_cost
ID
334982    سنسال     1.9    750      3.0   70.13
454567    خاتم     12.0    885      2.5  485.88
530498    دبله      4.7    750      4.0  178.18
530499      حلق     3.3    885      0.0  125.37
530500      حلق     6.0    750      3.0  221.46
545735  اسوارة      4.2    750      4.0  159.22
546784    خاتم     24.5    750      2.0  879.80
557264    خاتم      1.3    885      2.5   52.64
564357    دبله     12.4    750      3.0  457.68
565456    سنسال     2.3    885      2.5   93.13
567865      حلق     3.0    750      3.5  112.23
654676      حلق     2.3    885      3.0   94.28
757864      حلق     3.5    885      2.5  141.72

In [26]:
df.to_excel(r'C:\Users\VAIO\Desktop\Rafidi Jewlery\Book 1.xlsx')